/* STYLE.LESS */
html,
body {
  background-color: #ddd;
  min-height: 100%;
}
body {
  overflow-y: scroll;
}
select {
  cursor: pointer;
}
.t-small {
  font-size: 10px;
}
.loading {
  text-align: center;
  padding: 30px 0;
}
.htit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin: 20px auto 40px;
  max-width: 600px;
  border: 1px solid #CCC;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.htit h1 {
  padding: 0 0 0 15px;
  margin: 0;
}
.bt-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #000;
  color: #FFF;
  width: 40px;
  height: 40px;
  line-height: 37px;
  text-align: center;
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;
}
.bt-top:hover {
  opacity: 0.8;
}
.bgg-header {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}
.bgg-header .bggh_box {
  display: flex;
  align-items: center;
  width: 300px;
  padding: 0 10px;
  border-left: 1px solid #AAA;
}
.bgg-header .bggh_box label {
  padding-right: 8px;
  font-size: 12px;
  font-weight: bold;
}
.bgg-header .bggh_box .inp-box {
  flex-grow: 1;
}
.bgg-header .bggh_box:first-child {
  border-left: none;
  padding-left: 0;
}
.bgg-header .bggh_box.no-w {
  width: auto;
}
.collection {
  padding: 0 0 20px;
}
.bg-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bg-list .bg-item {
  padding: 0 7px;
}
.box-item {
  border: 1px solid #CCC;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  margin-bottom: 15px;
  width: 280px;
}
.box-item-img {
  width: auto;
  height: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 20px 10px;
  position: relative;
}
.box-item-img .average {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #07960f;
  color: #FFF;
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  width: 25px;
  text-align: center;
  border-radius: 0 0 0 50%;
  border-left: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.2);
  padding-left: 3px;
  padding-right: 3px;
}
.box-item-text {
  padding: 0 20px;
}
.box-item-text .title {
  font-size: 20px;
  line-height: 1.3;
  font-weight: bold;
  display: block;
  text-align: center;
}
.box-item-text .subtitle {
  line-height: 1.3;
  font-style: italic;
  padding-left: 4px;
  text-align: center;
}
.box-item-text .cop {
  font-size: 13px;
  line-height: 1.8;
  color: #888;
  margin-top: 8px;
  text-align: center;
}
.box-item-text .cop i {
  position: relative;
  top: -1px;
}
.box-item-text .cop .cop-cell {
  display: inline-block;
  margin-right: 6px;
  padding-right: 6px;
  border-right: 1px solid #ddd;
}
.box-item-text .cop .cop-cell:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
.box-item-text .cop .cop-diff {
  display: inline-block;
  width: 100px;
  height: 6px;
  border: 1px solid #CCC;
  position: relative;
  background: #37ff00;
  background: -moz-linear-gradient(left, #37ff00 1%, #ffff00 44%, #ff0707 100%);
  background: -webkit-linear-gradient(left, #37ff00 1%, #ffff00 44%, #ff0707 100%);
  background: linear-gradient(to right, #37ff00 1%, #ffff00 44%, #ff0707 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#37ff00', endColorstr='#ff0707', GradientType=1);
}
.box-item-text .cop .cop-diff div {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 60%;
  background-color: #FFF;
  border-left: 1px solid #CCC;
}
.resume {
  border-bottom: 1px solid #DDD;
}
.resume .r-title {
  font-weight: bold;
  line-height: 1;
  padding: 10px 0;
  cursor: pointer;
}
.resume .r-title i {
  font-size: 11px;
  position: relative;
  top: -1px;
  transition: all 0.4s;
}
.resume .r-description {
  overflow: hidden;
  text-align: justify;
  max-height: 0;
  opacity: 0.5;
  transition: all 0.4s;
  font-size: 11px;
}
.resume .d-title {
  font-weight: bold;
}
.resume .d-text {
  color: #888;
}
.resume .details-item {
  margin-bottom: 10px;
}
.resume .details-item:last-child {
  margin-bottom: 0;
}
.resume.descriptionExpanded .r-title i {
  transform: rotate(180deg);
}
.resume.descriptionExpanded .r-description {
  max-height: 2400px;
  opacity: 1;
}
.error-mje {
  text-align: center;
  color: #D00;
  padding: 30px 0;
}
